<form>
    <button class="btn btn-primary" asp-action="Login" asp-controller="User" >user</button>
    <button class="btn btn-primary" asp-action="Login" asp-controller="Admin" >admin</button>
</form>
