
@{
    ViewData["Title"] = "DeleteProductId";
}

<h1>@TempData["msg"]</h1>
<form>
    <label>Enter ID:</label>
    <input type="Text" name="Id" class="Id" >
    <button asp-action="DeleteProduct" asp-controller="Admin">Submit</button>

</form>



