
@{
    ViewData["Title"] = "UpdateProduct";
}

<h1>@TempData["id"]</h1>
<form>
    <label>Enter ID:</label>
    <div class="form-container">
                        <input type="text" id="Email" name="Email" placeholder="id">
                        <button asp-action ="UpdateProducts" class="btn-login">Search</button>
                </div>

</form>

